// when this conf has error it will silently be ignore, issue on cra github
{
	"extends": [
		"react-app",
		"eslint:recommended",
		"plugin:react/recommended"
		// "airbnb" // is little to much // and need to be installed without peerdep, cra3 has it all
	],
	"rules": {
		// react/recommended
		"react/prop-types": "off",
		// our own
		"no-mixed-spaces-and-tabs": "warn",
		"no-shadow": "warn",
		"import/no-useless-path-segments": "warn",
		"import/order": ["warn", {"groups": ["builtin", ["external", "internal"], ["parent", "sibling", "index"]]}],
		"max-len": ["warn", { "code": 100, "ignoreComments": true }],
		"quotes": ["warn", "single"],
		"no-unused-vars": "warn",
		"consistent-return": "warn",
		"func-names": "warn",
		"semi": "warn",
		"object-shorthand": "warn",
		"no-multiple-empty-lines": "warn",
		"prefer-const": "warn",
		"camelcase": "warn",
		"space-infix-ops": "warn",
		"arrow-body-style": "warn",
		"space-before-blocks": "warn",
		"prefer-arrow-callback": "warn",
		"no-confusing-arrow": "warn",
		"keyword-spacing": "warn",
		"no-param-reassign": "warn"
		// "no-console": "off",
		// "no-tabs": "off",
		// "indent": ["warn", "tab"],
	}
}
