@import 'variables';

/*-----------------------------------------------------
	reset
-----------------------------------------------------*/

html, body, div, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, code, del, dfn, img,
dl, dt, dd, ol, ul, li, input, textarea,
fieldset, form, label, legend,
table, caption, tr, th, td {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
  background-color: #30404d;
}

.App {
  font-family: sans-serif;
  text-align: center;

  h1 {
    color: deeppink;
  }
}
